<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>
        <%= email %>
    </p>
    <form action="" method="POST">
        <input type="password" name="password" placeholder="Enter New Password ">

        <input type="change"> </input>
    </form>
    <a href="/login">Login</a>
    
</body>
</html>